

footer{
    background-color: #212121;
    min-height: auto;
    width: 100%;
   
    padding-top: 40px;
    color: white;

   position: relative;
   transition: right 0.3s ease;
}

footer .container-footer{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 10px;
}
footer p{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

footer ul,
footer #FacebookProvider{
    text-align: center;
    list-style: none;
}

footer ul li{
    margin: 10px 0;
}
footer .footer-left{
 width: 33%;
}


footer .footer-center{
    width: 33%;
}



.footer-right{
  width: 36%;
text-align: center;
}

.footer-right ul{
    width: 36%;
    display: inline-block;
   margin-bottom: 10px;
  }

  .footer-right ul li{
    margin: 10px 5px;
   display: inline-flex;
  }
  
  
footer li:hover{
    text-decoration: underline;
}


.fb-page{
    clear: both;
    margin-top: 10px;
}

.footer-bottom{
    
    border-top: 1px solid white;
    width: 100%;
    line-height: 50px;
    display: block;
}

.footer-bottom p{
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

@media only screen and (max-width: 947px) {
    .container-footer {
    display: flex; /* Sử dụng Flexbox */
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    font-size: 3vw;
    }
    .container-footer p{
        font-size: 4vw;
       
    }
    .container-footer li{
        font-size: 3vw;
        margin: 3%;
    }
    footer .footer-left{
        width: 100%;
        border-bottom: 1px solid white;
        padding: 20px 0;
    }

    footer .footer-center{
        width: 100%;
        border-bottom: 1px solid white;
        padding: 20px 0;
    }

    footer .footer-right{
        padding: 20px 0;
        width: 100%;
    }

}


