.user-container-header{
    position: fixed;
    background-color: #e6e4e4;
    height: 13vh;
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: top 0.3s; 
   
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

#user-header{
    height: 100%;
    display: flex;
}

.user-header-top {
    display: flex; /* Sử dụng flexbox để các phần tử con nằm trên cùng một hàng */
    height: 2vh; /* Đặt chiều cao của .user-header-top */
    background-color: black;
    overflow: hidden; /* Ẩn nội dung vượt quá kích thước */
    align-items: center; /* Căn giữa dọc các phần tử con */
}

.user-header-top p {
    color: white;
    font-size: 1vw;
    margin: 0 10%; /* Loại bỏ margin mặc định của các đoạn văn bản */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần chữ vượt quá phạm vi của phần tử */
    animation: slideRight 2s linear infinite; /* Áp dụng hiệu ứng chạy từ trái sang phải */
}

.user-header-top p:nth-child(1) {
    animation-delay: 0s; /* Không có delay cho Content 1 */
}
.user-header-top p:nth-child(2) {
    animation-delay: 1.5s; /* Delay 2s cho Content 2 */
}
.user-header-top p:nth-child(3) {
    animation-delay: 3s; /* Delay 4s cho Content 3 */
}
.user-header-top p:nth-child(4) {
    animation-delay: 4.5s; /* Delay 6s cho Content 4 */
}

@keyframes slideRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-200%);
    }
}



.user-header-left{
    width: 18%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-header-left .user-logo-header{
    width: 50%; 
    margin: 0 auto; 
    height: 11vh;
}

.user-header-left .user-logo-header img{
  width: 100%;
 height: 100%;
}


.user-header-center{
    width: 62%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

#user-nav-menu{
    margin-left: 34%;
}
  
  .main-menu {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-menu > li {
    margin: 30px 10px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.3vw;
    position: relative;
    right:50%;
  }
  
  .main-menu li Link {
    color: black;
    cursor: pointer;
  }
  
  #iccon-zoom-center{
    font-size: 1.4vw;
  }
  
  .main-menu li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }
  
  .main-menu li:hover:after,
  .main-menu li.active:after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .main-menu li.active {
    color: #000;
  }
  
  /* CSS for submenu (menu cấp 2) */
  .main-menu li.has-dropdown {
    position: relative;
   
  }
  
  .main-menu li.has-dropdown ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    opacity: 0.79;
    z-index: 1;
    width: 200px;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
   
  }
  
  .main-menu li.has-dropdown ul.sub-menu  li{
    border-bottom:  0.1px solid white;
    padding: 20px 0px;
  }
  
  .main-menu li.has-dropdown:hover ul.sub-menu {
    display: block;
    visibility: visible;
  
    color: white;
    font-weight: bolder;
   
   
  }
  
  .main-menu li.has-dropdown ul.sub-menu li {
    padding: 10px;
    font-size: 24px;
  
  }
  
  .main-menu li.has-dropdown ul.sub-menu li:hover {
   background-color: #0a0a0a;
    color: #595959;
  }
  
  /* CSS for sub-submenu (menu cấp 3) */
  .main-menu li.has-dropdown ul.sub-menu li.has-submenu {
    position: relative;
  }
  
  .main-menu li.has-dropdown ul.sub-menu li.has-submenu ul.sub-sub-menu {
    position: absolute;
    top: 0;
    left: 100.5%;
    display: none;
    list-style: none;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    
    z-index: 1;
    width: 200px;
    visibility: hidden;
    transition: visibility 0.3s ease-in-out;
  }
  
  .main-menu li.has-dropdown ul.sub-menu li.has-submenu:hover ul.sub-sub-menu {
    display: block;
    visibility: visible;
 
    
  }
  
  .main-menu li.has-dropdown ul.sub-menu li.has-submenu ul.sub-sub-menu li  {
    padding: 12.5px 10px;
   font-size: 1vw;
 
  
    text-decoration: none;
  }
  
  .main-menu li.has-dropdown ul.sub-menu li.has-submenu ul.sub-sub-menu li:hover {
    background-color: #0a0a0a;
    color: #ffffff;
    
  }


.user-header-right{
    width: 20%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-menu li {
    display: inline-block;
    margin-right: 14px; /* Khoảng cách giữa các mục menu */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
}

.user-menu li:last-child {
    margin-right: 0; /* Loại bỏ margin phải của mục menu cuối cùng */
}

.user-menu li a {
    color: black; /* Màu chữ */
    text-decoration: none; /* Loại bỏ gạch chân dưới */
    font-weight: 300; 
    display: inline-block; /* Hiển thị các biểu tượng trên cùng một dòng với chữ */
    vertical-align: middle; /* Căn giữa theo chiều dọc */
    line-height: 1; /* Đảm bảo biểu tượng có kích thước ngang bằng với chữ */
    font-size: 1vw; /* Căn chỉnh kích thước của biểu tượng */
    margin-right: 5px; /* Khoảng cách giữa biểu tượng và chữ */
    transition: all 0.2s ease-in-out;
}

.user-menu li a:hover {
   font-weight: bold;
}

#iccon-zoom-center{
    font-size: 1.4vw;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

#iccon-zoom-center:hover{
  font-size: 1.4vw;
  font-weight: bold;
  
}
/* CSS cho biểu tượng tìm kiếm */
#iccon-zoom-center {
    cursor: pointer;
}

#sidebar-find {
    position: fixed;
    top: 0;
    right: -26%; /* sidebar bắt đầu ẩn bên phải */
    width: 26%;
    height: 100%;
    background-color: #f1f1f1;
    transition: right 0.3s; /* Thêm hiệu ứng chuyển động */
    z-index: 1005;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.6vw;
  font-weight: bold;
  cursor: pointer;
}

#closeButton:hover {
  color: tomato;
}

.header-cart-search,
.header-side-search{
    width: 70%;
    height: 50px;

    margin: 0 auto;
    margin-top: 80px;
    font-weight: bold;
    position: relative;
  
}

.header-cart-search p,
.header-side-search P{
  color:black;
  font-size: 0.9vw;
text-align: left;
  width: 70%;
}




.main-side-search {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
}

.main-side-search .box-search{
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.516);
}

.main-side-search input{
    padding: 20px;
    width: 100%;
    background:none;
    font-size:0.7vw;
    border: none;
    outline: none; /* Bỏ outline khi focus */
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.main-side-search input::placeholder {
  color: #999; /* Set the color of the placeholder text */
  font-size: 1vw; /* Adjust font size if needed */
}
.main-side-search input:focus {
    background-color: #779db9a4; /* Màu xanh nhạt khi focus */
    outline: none; /* Bỏ outline khi focus */
}

.main-side-search .box-search-result{
  width: 100%;
  max-height: 80vh;

}


.main-side-search .box-search-result table{
  width: 100%;
}


.main-side-search .box-search-result table td{
  padding: 10px 0;
}

.main-side-search .box-search-result #name_price-product{
  text-align: left;
  width: 70%;
 
}

.main-side-search .box-search-result #name_price-product span{
    font-size: 0.7vw;
    vertical-align: baseline;
    color: #272727;
    font-weight: 500;
}
.main-side-search .box-search-result #image-product{
  text-align: right;
  width: 15%;

}

.main-side-search .box-search-result .box-image-search{
  position: relative;
  right: 0;
  width: 100%;
  height: 7vh;
}
.main-side-search .box-search-result .box-image-search img{
  width: 100%;
  height: 100%;
}

#sidebar-cart {
  position: fixed;
  top: 0;
  right: -26%; /* sidebar bắt đầu ẩn bên phải */
  width: 26%;
  height: 100%;
  background-color: #f1f1f1;
  transition: right 0.3s; /* Thêm hiệu ứng chuyển động */
  z-index: 1005;
}


.header-side-search .clone-items-cart {
  margin: 0 auto  ;
  max-width: 70%;
  height: 20vh;
  background-color: #0000002e;
  overflow-x: auto; /* Add scrollbar for vertical overflow */
  overflow-y: auto; /* Add scrollbar for vertical overflow */
}

.clone-items-cart tbody{
  position: relative;
}
.he
.header-side-search .clone-items-cart {
  margin: 0 auto  ;
  max-width: 70%;
  max-height: 14vh;
 
  overflow-x: auto; /* Add scrollbar for vertical overflow */
  overflow-y: auto; /* Add scrollbar for vertical overflow */
}
 .clone-items-cart {
  margin: 0 auto;
  max-width: 65%;
  max-height: 17.3vh;
  
  overflow-x: auto; /* Add scrollbar for vertical overflow */
  overflow-y: auto; /* Add scrollbar for vertical overflow */
}



 .clone-items-cart tr #padding{
  padding: 10px 0;
}


 .clone-items-cart #col-image {
 width: 35%;
 height: 100%;
}

  .clone-items-cart #col-image img {
  width: 100%;
}

 .clone-items-cart #col-name {
 text-align: center;
  position: relative;
  left: -45px;
  font-size: 0.7vw;
  font-weight: bolder;
 }
  .clone-items-cart #col-size-color {
  font-size: 0.6vw;
  color: grey;
  text-align: center;
  position: relative;
  left: -30px;
  top: -5px;
 }
 .clone-items-cart #col-quanlity-price {
  font-size: 0.6vw;
  text-align: center;
  position: relative;
  top:-15px;
  left: -35px;
 }
 .clone-items-cart #col-quanlity-price input {
  width: 16%;
  border: none;
  padding: 4px 2px;
  vertical-align: middle;
  outline: none;
  font-size: 0.7vw;
  text-align: center;
  border:  1px solid black;
 }
 
  .clone-items-cart #col-quanlity-price span {
color: grey;
font-size: 0.6vw;
margin-left: 10px;
 }
 
.clone-items-cart #delete-cart {
  font-size: 0.7vw;
  cursor: pointer;
  transition: color 0.3s;
 position: absolute;
 top:20px;
 right: 5px;
 font-weight: bold;
   }

  .clone-items-cart #delete-cart:hover {
   color: tomato;
     }
  
   


.total-item-cart {
  margin: 20px auto;
   width: 70%;
  max-height: 138px;
  display: flex;
  border-top: 2px solid black;
  padding: 10px 0;
 
}


.total-item-cart  #left{
  width: 70%;
  font-size: 0.7vw;
  font-weight: bold;
}

.total-item-cart  #right{
  width: 30%;
  font-size: 0.7vw;
  font-weight: bold;
  text-align: right;
}

#sidebar-cart .container-button{
  margin: 20px auto;
   width: 70%;
   height: auto;
   display: flex;
   
}


#sidebar-cart .container-button #btn-left{
text-align: left;
 width: 47%;
 border: none;
 text-align: center;
 padding: 10px 0px;
 margin-right: 6%;
 background-color: black;
 color: white;
 font-weight: bold;
 transition: background-color 0.3s ease;
}


#sidebar-cart .container-button #btn-right{
  text-align: right;
  width: 47%;
 border: none;
  text-align: center;
  padding: 10px 0px;
  background-color: black;
  font-weight: bold;
  transition: background-color 1s ease;
}
#sidebar-cart .container-button #btn-right #Link,
#sidebar-cart .container-button #btn-left #Link{
  color: white;
  font-size: 0.7vw;
  border: none;
}


#sidebar-cart .container-button #btn-left:hover,
#sidebar-cart .container-button #btn-right:hover {
  background-color: white; /* Change background color on hover */
  background-image: linear-gradient(to right, white 50%, black 50%); /* Add gradient for animation effect */
  background-size: 200% 100%; /* Double the background size */
  transition: background-position 1s; /* Add transition for animation */
}

#sidebar-cart .container-button #btn-left:hover {
  background-position: -100% 0; /* Move gradient to the right on hover */
}

#sidebar-cart .container-button #btn-right:hover {
  background-position: -100% 0; /* Move gradient to the left on hover */
}
  
  

