
.container-user-detail .content {
   width: 100%;
    margin: 40px auto;
    display: flex;
}

.container-user-detail .box-1 {
    width: 100%;
    margin-left: 10%;
 
}

.container-user-detail .box-1 h1 {
    line-height: 40px;
    font-size: 1.4vw;
}

.container-user-detail .box-1 #dhgn {
  font-size: 0.8vw;
}


.container-user-detail .xinchao {
    margin: 10px 0;
    font-size:0.9vw;
}

.container-user-detail table {
    margin:20px 0;
    width: 100%;
    border-collapse: collapse;
}

.container-user-detail tr {
    border: 1px solid rgb(229, 229, 229);
}

.container-user-detail th {
    text-align: left;
    font-weight: 500;
}

.container-user-detail th,
.container-user-detail td {
    padding: 10px;
    font-size: 0.8vw;
}

.container-user-detail #xct {
    cursor: pointer;
}

.container-user-detail #xct:hover,
.container-user-detail #ctn {
        color: gray;
}

.container-user-detail .page-phantrang {
 width: 95%;
 position: relative;

}
.container-user-detail #one {
    background-color: black;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 5px;
}

.container-user-detail .box-2 {
    margin-top: 30px;   
    width: 30%;
    margin-left: 2%;
}

.container-user-detail .box-2 p {
    margin: 10px 0;
    color: #333;
}

.container-user-detail .box-2 p span {
    font-weight: 505;
    font-size: 0.9vw;
}


.container-user-detail .box-2 button {
    display: block;
    padding: 5px 10px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    cursor: pointer;
}

@media(max-width:1024px) {
    .container-user-detail .content {
        flex-direction: column;
        width: 90%;
    }

    .container-user-detail .box-1 {
        width: 100%;
    }

    .container-user-detail .table {
        width: 100%;
    }
}

.container-user-detail input {
    padding: 15px;
    width: 80%;
    margin: 10px 0;
    background-color: #ededed;
    border: none;
}

.container-user-detail form button {
    display: block;
    margin-top: 10px;
    padding: 13px 24px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
}

.container-user-detail form button:hover {
    opacity: 0.7;
}